 .about-us {
/* padding: 80px 0;
    margin-left: 20px; */
    /* display: flex;
    justify-content: center;
    align-items: center; */
} 

.about-title {
    margin-bottom: 40px;
}

.about-list {
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.02em;
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.photo-li {
    margin-bottom: 40px;
}

.img-about {
    border-radius: 1000px 1000px 1000px 1000px;
}

.section-title {
    font-family: DM Sans,sans-serif;
    font-size: 28px;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: -0.04em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    text-transform: capitalize
}

.section-title span {
    color: #bea69e;
}


/* =========MEDIA 375========= */

@media screen and (min-width: 375px) {
    .about-list {
        font-size: 14px;
        gap: 20px;
        justify-content: center;
    }

    .about-list-li {
        width: 335px;
    }
    
    .about-wrapper{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

/* =========MEDIA 768========= */

@media screen and (min-width: 768px) {
    .about-us {
        /* padding: 100px 0; */
        justify-content: center;
            align-items: center;
    }

    .about-title {
        margin-bottom: 50px;
    }

    .about-list {
        font-size: 16px;
        gap: 40px;
        text-align: left;
        display: flex;
        flex-direction: row;
    }

    .about-list-li {
        width: 280px;
    }

    .photo-li {
        margin-bottom: 50px;
    }
        .section-title {
        font-family: DM Sans;
        font-size: 48px;
        font-weight: 500;
        line-height: 54px;
        letter-spacing: -0.04em;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        }
}

/* =========MEDIA 1280========= */

@media screen and (min-width: 1280px) {
    .about {
        /* padding: 150px 0; */
    }

    

    .about-wrapper {
        width: 1080px;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
    }

    .about-list {
        gap: 20px;
        display: flex;
        flex-direction: row;
    }

    .about-list-li {
        width: 268px;
    }

    .about-list-li-dt {
        width: 264px;
        height: 215px;
    }

    .photo-li {
        margin-right: 40px;
        margin-bottom: 0;
    }
}

/* =========MEDIA 1440========= */

@media screen and (min-width: 1440px) {
    .about-wrapper {
        width: 1240px;
    }

    .about-list {
        gap: 40px;
    }

    .about-list-li {
        width: 314px;
    }

    .about-list-li-dt {
        width: 276px;
        height: 215px;
    }

    .photo-li {
        margin-right: 50px;
    }
    
}