/* Mobile Design */

footer {
  background-image: url(../img/footer/footer-mobile-bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 14px;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  padding: 40px 20px;
}

.footer-container {
  max-width: 375px;
  margin: 0 auto;
}

.footer a:hover {
  color: #bea69e;
  transition: color 350ms cubic-bezier(0.4, 0, 0.2, 1);
}

.ftr-logo {
  width: 127px;
  height: 20px;
}

.ftr-logo-link {
  margin-top: 20px;
  margin-bottom: 16px;
}

.ftr-content {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.ftr-contact-ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 40px;
  line-height: 1.42;
}

.ftr-nav {
  display: flex;
  flex-direction: row;
  gap: 40px;
  margin-bottom: 75px;
}

.ftr-menu,
.ftr-social {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.ftr-social-link,
.ftr-menu-link {
  text-transform: uppercase;
  line-height: 1.28;
}

.ftr-subscribe {
  display: flex;
  flex-direction: row;
  gap: 8px;
  margin-bottom: 40px;
}

.ftr-sub-input {
  width: 267px;
  height: 60px;
  border-radius: 12px;
  background-color: white;
  border: none;
  padding: 20px 18px;
}

.ftr-sub-button {
  background-color: #1d1d1d;
  width: 60px;
  height: 60px;
  border-radius: 12px;
  border: none;
  color: white;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  cursor: pointer;
  transition: color 350ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 350ms cubic-bezier(0.4, 0, 0.2, 1);
}

.ftr-sub-button:hover,
.ftr-sub-button:focus {
  background-color: white;
  color: #1d1d1d;
}

.ftr-privacy-copyright {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.ftr-cr-text {
  font-size: 12px;
  line-height: 1.33;
}

/* Tablet Design */
@media screen and (min-width: 768px) {
  footer {
    background-image: url(../img/footer/footer-tablet-bg.png);
    padding: 50px 32px;
  }

  .footer-container {
    max-width: 768px;
  }

  .ftr-logo-link {
    margin-top: 0px;
    margin-bottom: 25px;
  }

  .ftr-content {
    flex-direction: row;
    justify-content: space-between;
    margin: 50px 0 75px;
  }

  .ftr-contact-ul {
    margin: 0;
    max-width: 152px;
  }

  .ftr-subscribe {
    gap: 8px;
    margin-bottom: 0px;
  }

  .ftr-sub-input {
    width: 178px;
    height: 60px;
  }
}

/* Desktop*1280 Design */
@media screen and (min-width: 1280px) {
  footer {
    background-image: url(../img/footer/footer-1280-bg.png);
    padding: 50px 100px;
  }

  .footer-container {
    max-width: 1280px;
  }

  .ftr-logo-link {
    margin-top: 0px;
    margin-bottom: 25px;
  }

  .ftr-content {
    margin: 50px 0 75px;
  }

  .ftr-contact-ul {
    margin: 0;
    max-width: 300px;
  }

  .ftr-subscribe {
    gap: 16px;
  }

  .ftr-sub-input {
    width: 216px;
    height: 60px;
  }
}

/* Desktop*1440 Design */
@media screen and (min-width: 1440px) {
  footer {
    background-image: url(../img/footer/footer-1440-bg.png);
  }
  .footer-container {
    max-width: 1440px;
  }
  .ftr-nav {
    gap: 100px;
  }
}
