/* Mobile Design */
.ftr-logo {
  width: 127px;
  height: 20px;
}

.ftr-logo-link {
  margin-top: 20px;
  margin-bottom: 16px;
}

.ftr-content {
  display: flex;
  flex-direction: column;
}

.footer.container {
  padding: 20px;
}

.ftr-contact-ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
/* Tablet Design */
@media screen and (min-width: 768px) {
}

/* Desktop*1280 Design */
@media screen and (min-width: 1280px) {
}

/* Desktop*1440 Design */
@media screen and (min-width: 1440px) {
}
